html{
    background-color: black;
    color: white;
}

table td{
    border : 1px solid white;
    margin: 0px;
    width: 100px;
    height: 100px;
    font-size: 4em;
    text-align: center;
    padding: 0px;
}
#container{
    display: flex;
    justify-content: center;

}